*, *::after, *::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}
body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    transition: background-color 0.3s ease;
}
.switch{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 30px;
    display: flex;
    background-color: #333;
    border: #fff solid 1px;
    border-radius: 50px;
    align-items: center;
}
.btn{
    /* --url: url("./images/day.png");
    --translateX: 0%; */
    width: 50%;
    height: 100%;
    background-image: url("../images/night.png") ;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0%);
    transition: all 0.3s ease;
}
.btn:hover{
    cursor: pointer;
}
.clock{
    width: 300px;
    height: 300px;
    background-image: url("../images/metal.jpg");
    border-radius: 50%;
    position: relative;
    box-shadow: #666 0px 0px 4px 2px ,#333 0px 0px 2px 8px, #000 0px 0px 20px 15px;
}

.clock .number{
    --rotation: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgba(255,255,255,.5);
}
.clock .number1{--rotation: 30deg;}
.clock .number2{--rotation: 60deg;}
.clock .number3{--rotation: 90deg;}
.clock .number4{--rotation: 120deg;}
.clock .number5{--rotation: 150deg;}
.clock .number6{--rotation: 180deg;}
.clock .number7{--rotation: 210deg;}
.clock .number8{--rotation: 240deg;}
.clock .number9{--rotation: 270deg;}
.clock .number10{--rotation: 300deg;}
.clock .number11{--rotation: 330deg;}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-image: url("../images/metal.jpg");
    background-size: cover;
    filter: brightness(0.9) drop-shadow(0px 0px 4px #000);
    overflow: hidden;
    border: 1px solid #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.clock::after{
    content: "";
    position: absolute;
    background-image: url("../images/metal.jpg");
    background-size: cover;
    filter: brightness(0.5) drop-shadow(0px 0px 4px #000);
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second{
    width: 3px;
    height: 45%;
}
.clock .hand.minute{
    width: 7px;
    height: 40%;
}
.clock .hand.hour{
    width: 10px;
    height: 35%;
}

@media screen and (max-width: 480px) {
    .clock{
        width: 200px;
        height: 200px;
    }
}
/* @media only screen and (min-width: 480px) and (max-width: 768px) {
	 .clock{
        height: 90%;
    } 
} */